.player {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  font-family: arial;
}

.player img {
  width: 100%;
  border-bottom: 1px solid rgba($color: #333333, $alpha: 0.3);
}
.player div {
  margin: 12px;
}

.player-name {
  color: grey;
  font-size: 18px;
}

.steam a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

p:hover {
  opacity: 0.7;
}
