.container {
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.card-layout {
  min-height: 468px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}

.box {
  max-width: 960px;
  min-width: 462px;
  margin: auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.media {
  display: block;
  align-items: flex-start;
}

.img-panel {
  float: left;
  display: flex;
  padding-right: 125px;
  padding-bottom: 50px;
}

.img-panel img {
  vertical-align: middle;
  position: relative;
  margin-top: 32px;
}

.desc-panel {
  display: inline-block;
  flex: 1;
  align-self: center;
  vertical-align: middle;
  width: 360px;
}

.desc-panel h6 {
  letter-spacing: 2.1px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.desc-panel h3 {
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 15px;
  color: #222222;
}

.desc-panel h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #222222;
}

.basic-info {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.basic-info li {
  position: relative;
  left: 0px;
  top: 50%;
  font-size: 14px;
}

.social-site {
  margin-top: 15px;
  float: left;
}

.social-site li a {
  text-decoration: none;
  color: #222222;
}
